<!doctype html>
<html lang="en">
    {{> _head title='About Page' }}
    <body>
        {{> _header title='About' }}
        <main>
            <h5>How to use this weather app</h5>
            <p>This app uses data from mapbox.com and darksky.net.</p>
 
        </main>
        {{> _footer}}
    </body>
</html>