<!doctype html>
<html lang="en">
    {{> _head title='Help Page' }}
    <body>
        {{> _header title='Help' }}
        <main>
            <h5>{{ message }}</h5>
        </main>
        {{> _footer}}
    </body>
</html>