<!doctype html>
<html lang="en">
    {{> _head title='Weather App' }}
    <body>
        {{> _header title='Weather' }}
        <main>
            <h5>Use this site to get your weather!</h5>
 
        </main>
        {{> _footer}}
    </body>
</html>