<header class="container">
    <div class="row">
        <a class="navbar-brand" href="/">
            <img src="./img/node-js-logo-png-clip-art.png" alt="logo">
        </a>
        <h1>{{ title }}</h1>

        <nav>
            <ul>
                <li>
                    <a href="/weather">Weather</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/help">Help</a>
                </li>
            </ul>        
        </nav> 
    </div> 
</header>
 
